h1 {
    color:grey
}
p {
    font-size:large
}
ul {
  list-style-type: none;
}
section div {
  background-color: lightgrey;
  margin: 5px;
  padding: 10px;
  border: 0.5px solid black;
  color: white;
}
section {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  
}
#main-container {
    display: flex;
}
img {
height: 400px;
}
#right {
    padding: 40px;
}
#left {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#content {
    padding: 30px;
}
/* you can also use "min-width" or a combination of both: */
/* @media only screen and (max-width: 800px) and (min-width: 400px)  */
@media only screen and (max-width: 800px) {
  /* padding only if screen is 800px or smaller */
  /* this has a higher precedence and wins the default padding when */
  /* the condition is met */
  #main-container {
    flex-direction: column;
  }
  
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  
}
