h1 {
    color:grey
}
p {
    font-size:large
}
ul {
  list-style-type: none;
}
div {
  background-color: lightgrey;
  margin: 5px;
  padding: 10px;
  border: 0.5px solid black;
  color: white;
}
section1 {
  display: flex;
  padding: 10px;
  flex: 0 0 10px;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  background:white
}
section {
  display: flex;
  flex-direction: column;
}
div#content {
    padding: 30px;
}
/* you can also use "min-width" or a combination of both: */
/* @media only screen and (max-width: 800px) and (min-width: 400px)  */
@media only screen and (max-width: 800px) {
  /* padding only if screen is 800px or smaller */
  /* this has a higher precedence and wins the default padding when */
  /* the condition is met */
  div#content {
    padding: 10px;
  }
}
